NetrikaProject/ClientLibrary/Service References/Proxy/NetrikaProject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://NetrikaProject" elementFormDefault="qualified" targetNamespace="http://NetrikaProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EMKService.Data.Dto" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientLocalName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdLpu" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EMKService.Data.Dto" minOccurs="0" name="PatienDto" nillable="true" type="q1:PatientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>